body, html{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}

:root{
    --primary-color: rgb(248, 138, 156);
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr/ 1fr 4fr ;
}
/* nav container*/
.nav-container{
    background: var(--primary-color);
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.current-project{
    color: white;
}
.header-container > *{
    color:white;
    cursor: pointer;
}
.header-container img{
    display:block;
    margin:auto;
    height: 2rem;
    width: 2rem;
}
/* end nav container */
/* project container */

.project-container{
    background: #eee;
    padding: 3rem 3rem 0 3rem;
    
}
.project-container div{
    cursor: pointer;
 }


/* defailt project */
.inbox-container:hover{
    background-color: #ddd;
}
.inbox-container p{
    display: inline;
    font-size: large;
}
.inbox-container img{
    vertical-align: middle;
}

/* end default project */
/* project creator */
.project-holder{

}
.project-holder .project:hover, .project-holder .create-project:hover{
 background-color: #ddd;
}

.project-holder p{
    display: inline;
}
.project-holder img{
    vertical-align: middle;
}
.project-holder h3{
    margin-bottom: 0;
}
.project{
    margin-bottom: 1rem; 
}

.project img{
    float: right;
}

/* form */
.create-project-form{
 padding-right: 0.5rem;
 margin-bottom: 1rem;
}

.create-project-form input{
    display: block;
    margin-bottom: .5rem;
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #ddd;

}
.create-project-form button{
    background-color: var(--primary-color);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;

}
/* end form */
/* end project creator */

/* end project container */

/* task container */
.task-container{
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 4rem 0 4rem;
    align-items: center;

}

/* create task button */

.create-task-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: max-content;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    cursor: pointer;
}
/* end create task button */

/* task form */
.create-task-form{
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
}
/* form top */
.form-top{
    margin-bottom: 1rem;
}
 .form-top > *{
    border: none;
    border-bottom: 1px solid #000;
 }

 

/* end form top */
/* form bottom */
.form-bottom{
    
    
}
.form-bottom #task-priority{
    border: none;
    border-bottom: 1px solid #000;
    
} 

.form-bottom button{
    border: none;
    border-radius: 5px;
    margin: 0 0.5em;
    padding: 5px;
    cursor: pointer;
    
}

.create-task-form #cancel{
    float: right;   
    background-color: var(--primary-color);
    color: #fff;
}

.create-task-form #add{
    float: right;
    background-color: var(--primary-color);
    color: #fff;
}
/* end form bottom */
/* end task form */

/* task object */

.cards{
    width: 60%;
    padding: 1rem;
}

.card{
    margin-bottom: 1rem;
    transition: all 0.5s ease;
    border: 1px solid #eee;
    border-radius: 10px ;

}

.card .card-show{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.card .card-show button{
    background: none;
    border: none;
    cursor: pointer;
}

.card .card-hidden{
    display: hidden;
    justify-content: space-evenly;
}

.card.checked{
    opacity: 0.6;
}

.strike{
    text-decoration: line-through;
}

/* priority color */
.low{
    background: greenyellow;
}
.medium{
    background: lightskyblue;
}
.high{
    background: rgb(255, 196, 0);
}

/* end task object */
/* end task container */

