body, html{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr/ 1fr 4fr ;
}

.nav-container{
    background: pink;
    grid-column: 1/3;
}
/* project container */

.project-container{
    background: #eee;
    padding: 3rem 3rem 0 3rem;
    
}
.project-container div{
    cursor: pointer;
 }


/* defailt project */
.inbox-container:hover{
    background-color: #ddd;
}
.inbox-container p{
    display: inline;
    font-size: large;
}
.inbox-container img{
    vertical-align: middle;
}

/* end default project */
/* project creator */
.project-holder{

}
.project-holder .project:hover, .project-holder .create-project:hover{
 background-color: #ddd;
}

.project-holder p{
    display: inline;
}
.project-holder img{
    vertical-align: middle;
}
.project-holder h3{
    margin-bottom: 0;
}


/* form */
.create-project-form{
 padding-right: 0.5rem;
}

.create-project-form input{
    display: block;
    margin-bottom: .5rem;
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #ddd;

}
.create-project-form button{
    background-color: pink;
    border: none;
    padding: 5px;

}
/* end form */
/* end project creator */

/* end project container */
.task-container{
    background: #fff;

}

