body, html{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr/ 1fr 4fr ;
}

.nav-container{
    background: pink;
    grid-column: 1/3;
}
/* project container */

.project-container{
    background: #eee;
    
}
/* defailt project */
.inbox-container{
    text-align: center;
    background: orange;
}
.inbox-container p{
    display: inline;
    font-size: large;
}
.inbox-container img{
    vertical-align: middle;
    height: 2em;
    width: 2em;
}
/* end default project */
/* project creator */
.project-holder{

}

.project-holder p{
    display: inline;
}
.project-holder img{
    vertical-align: middle;
}

/* form */
.create-project-form{

}

.create-project-form input{
    display: block;
    margin-bottom: .5rem;
}
/* end form */
/* end project creator */

/* end project container */
.task-container{
    background: #fff;

}

